{% extends 'layout.html' %}

{% block body %}
	<div style="margin-top: 40px;" >
		<h1>About us</h1>
		<p style=" margin-top: 10px" class="lead">This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.This is application is build on python framework, which is built when i was learning Flask concepts.</p>
	</div>
{% endblock %}